doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='refresh' content='0; URL=https://lexxyfox.gitlab.io/TCSGE_H5')
  body
    | Moved to
    a.text-muted(href='https://lexxyfox.gitlab.io/TCSGE_H5') GitLab
