doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Time Clickers Save Game Editor
    meta(name='description', content='A simple Time Clickers save game editor that decrypts save games into their raw JSON format for editing.')
    link(rel='stylesheet', href='https://bootswatch.com/slate/bootstrap.min.css', crossorigin='anonymous')
    link(rel='stylesheet', href='index.css')
  body
    .container-fluid: .row
      mixin panel(title)
        .col-md-6: .container-fluid: .row: .panel.panel-default
          .panel-heading
            h4.panel-title= title
          .panel-body
            form.form-horizontal
              .form-group: .col-md-12
                textarea.form-control(rows=8)
              block
      +panel('B64 Encrypted Data')
        .form-group
          .col-md-2
            label.control-label IV Hex
          .col-md-10: .input-group
            input.form-control(type='text')
            span.input-group-btn
              button.btn.btn-default.glyphicon 
      +panel('Raw JSON Data')
        .pull-right.text-muted
          a.text-muted(href='https://github.com/Higgs1/Time-Clickers-Save-Game-Editor-HTML5') Source Code
          | &nbsp; | &nbsp;
          a.text-muted(href='https://github.com/Higgs1/Time-Clickers-Save-Game-Editor-HTML5/wiki') Algorithm
    script(src='https://code.jquery.com/jquery-2.2.1.js', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(src='https://raw.githubusercontent.com/Dexus/js-mcrypt/master/mcrypt.js')
    script(src='https://raw.githubusercontent.com/Dexus/js-mcrypt/master/rijndael.js')
    script(src='https://raw.githubusercontent.com/AndreasPizsa/md5-jkmyers/master/md5.min.js')
    script(src='index.js')

